<!DOCTYPE html>
<html>
    <head>
        <title>Shopcircuit | <%= @title %></title>
            <%= csrf_meta_tag %>
            <!--[if lt IE 9]>
                <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
            <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
            <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
            <!--[if lt IE 8]>
                <%= stylesheet_link_tag 'blueprint/ie' %>
            <![endif]-->
            <%= stylesheet_link_tag 'custom', :media => 'screen' %>
            <%= javascript_include_tag :defaults %>
           
 
    </head>
    <body>
        <div class="container">
            <header>
            <img alt="Sample App" class="round" src="/images/shopping-cart.jpg" />
            <nav class="round">
            <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Help", help_path %></li>
             <% if signed_in? %>
              <li><%= link_to "Profile", current_user %></li>
             <% end %>
            <% if signed_in? %>
              <li><%= link_to "Sign Out", signout_path %></li>
            <% else %>
              <li><%= link_to "Sign In", signin_path %></li>
            <% end %>
            </ul>
            </nav>
            </header>
            <section class="round">
                <% flash.each do |key, value| %>
                <%= content_tag(:div, value, :class => "flash #{key}") %>
                <% end %>

                <%= yield %>
                <%= yield :scripts %>
            </section>
            <footer>
                <nav class="round">
                <ul>
                    <li><%= link_to "About", about_path %></li>
                    <li><%= link_to "Contact", contact_path %></li>
                </ul>
                </nav>
            </footer>
        </ul>
        </nav>
        </footer>
        
     

        </div>
    </body>
</html>



